<div class="page-header">
  <h3>Upload a profile picture!</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>
        <%= current_user.username %>
      </h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <dt>Picture</dt>
        <dd><<%= @profile.image %>></dd>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>
            Where I'm From
          </h3>
          <p>
            <dt>City</dt>
            <dd><%= @profile.city %></dd>

            <dt>State</dt>
            <dd><%= @profile.state %></dd>

            <dt>Country</dt>
            <dd><%= @profile.country %></dd>
          </p>
        </div>
        <div class="col-md-6">
          <h3>
            What I Like to Do
          </h3>

          <%= @profile.interests %>

        </div>
      </div>
      <hr>
      <center>
        <div class="row">

          <div class="col-md-4">
            <p class="lead">
              <%= @profile.user.videos.count %> posts
            </p>
          </div>

          <div class="col-md-4">
            <p class="lead">
              I inspire <%= @profile.user.favorites.count %> people
            </p>
          </div>

          <div class="col-md-4">
            <p class="lead">
              <%= @profile.user.favorites.count %> people inspire me
            </p>
          </div>
        </div>
      </center>
      <hr>
      <input type="hidden"  value="<%= @profile.user_id %>">


    </dl>

    <div class="btn-group btn-group-justified">
      <% if @profile.user_id == current_user.id %>
      <a href="/users" class="btn btn-primary">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a href="/profiles/<%= @profile.id %>/edit" class="btn btn-warning">
        <i class="fa fa-edit"></i>
      </a>
      <a href="/delete_profile/<%= @profile.id %>" class="btn btn-danger">
        <i class="fa fa-trash-o"></i>
      </a>
      <% else %>
      <a href="/users" class="btn btn-primary">
        <i class="fa fa-chevron-left"></i>
      </a>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class="row4"><center>
  <div class="col-md-3">
    <h4>Gwella</h4>
    <ul>Mobile apps</ul>
    <ul>Community</ul>
    <ul>Security</ul>
  </div>
  <div class="col-md-3">

    <h4>Company</h4>
    <ul><a href="/about_us">About us</a></ul>
    <ul>Careers</ul>
    <ul>Press</ul>

  </div>
  <div class="col-md-3">
    <h4>Support</h4>
    <ul>Help Center</ul>
    <ul>Contact</ul>
    <ul>Privacy & terms</ul>
  </div>

  <div class="col-md-3">
    <h4>Connect</h4>
    <ul><a href="https://www.facebook.com/Gwella-1504815782924804/" target="blank">Facebook</a></ul>
    <ul>Instragram</ul>
    <ul>Twitter</ul>
  </div>
</center>
</div>
