<div class="page-header">
  <h3>Content #<%= @content.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @content.title %></dd>

      <dt>Description</dt>
      <dd><%= @content.description %></dd>

      <dt>Video</dt>
      <dd><%= @content.video_id %></dd>

      <dt>Url</dt>
      <dd><%= @content.url %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/contents" class="btn btn-primary">
        Back
      </a>
      <a href="/contents/<%= @content.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_content/<%= @content.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
