<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Sign up for free!</h2>
      </div>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", role: "form" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :username, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :username, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <p class="help-block">
              <% if @validatable %>
              (<%= @minimum_password_length %> characters minimum)
              <% end %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.submit "Sign up", class: "btn btn-success btn-block" %>
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= render "devise/shared/links" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
<div class="row4"><center>
  <div class="col-md-3">
    <h4>Gwella</h4>
    <ul>Mobile apps</ul>
    <ul>Community</ul>
    <ul>Security</ul>
  </div>
  <div class="col-md-3">

    <h4>Company</h4>
    <ul><a href="/about_us">About us</a></ul>
    <ul>Careers</ul>
    <ul>Press</ul>

  </div>
  <div class="col-md-3">
    <h4>Support</h4>
    <ul>Help Center</ul>
    <ul>Contact</ul>
    <ul>Privacy & terms</ul>
  </div>

  <div class="col-md-3">
    <h4>Connect</h4>
    <ul><a href="https://www.facebook.com/Gwella-1504815782924804/" target="blank">Facebook</a></ul>
    <ul>Instragram</ul>
    <ul>Twitter</ul>
  </div>
</center>
</div>
