<div class="page-header">
  <h1>
    Favorites
  </h1>
</div>

<% @favorites.each do |favorite| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= favorite.video.title %>
        </h3>
      </div>
      <div class="panel-body">
        <a href="/favorites/<%= favorite.video.id %>">
          <iframe width="720" height="515" src="<%= favorite.video.url.html_safe %>" frameborder="0" allowfullscreen></iframe>
        </a>

        <ul class="media-list">
          <li class="media">
            <div class="media-body">
              <h3 class="panel-title">
                Added by
                <%= favorite.video.user.username %></h3>
              </div>
              <div class="btn-group btn-group-justified">
                <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
              </div>
            </li>
            <ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
