<div class="page-header">
  <h1>
    Favorites
  </h1>
</div>

<% @favorites.each do |favorite| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= favorite.video.title %>
        </h3>
      </div>
      <div class="panel-body">
        <a href="/favorites/<%= favorite.video.id %>">
          <iframe width="720" height="515" src="<%= favorite.video.url.html_safe %>" frameborder="0" allowfullscreen></iframe>
        </a>

        <ul class="media-list">
          <li class="media">
            <div class="media-body">
              <h3 class="panel-title">
                Added by
                <%= favorite.video.user.username %></h3>
              </div>
              <div class="btn-group btn-group-justified">
                <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
              </div>
            </li>
            <ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <div class="row4"><center>
        <div class="col-md-3">
          <h4>Gwella</h4>
          <ul>Mobile apps</ul>
          <ul>Community</ul>
          <ul>Security</ul>
        </div>
        <div class="col-md-3">

          <h4>Company</h4>
          <ul><a href="/about_us">About us</a></ul>
          <ul>Careers</ul>
          <ul>Press</ul>

        </div>
        <div class="col-md-3">
          <h4>Support</h4>
          <ul>Help Center</ul>
          <ul>Contact</ul>
          <ul>Privacy & terms</ul>
        </div>

        <div class="col-md-3">
          <h4>Connect</h4>
          <ul><a href="https://www.facebook.com/Gwella-1504815782924804/" target="blank">Facebook</a></ul>
          <ul>Instragram</ul>
          <ul>Twitter</ul>
        </div>
      </center>
      </div>
