<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          All Users
        </h3>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= search_form_for @q do |f| %>
          <p class="lead">Search users:</p>

          <div class="form-group">
            <%= f.label :username_cont, "Username containing" %>
            <%= f.text_field :username_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
          </div>
          <%= f.submit :class => "btn btn-primary btn-block" %>

          <a href="/videos" class="btn btn-default btn-block">Clear filters</a>
          <% end %>
          <hr>
        </div>
      </div>

      <ul class="list-group">
        <% @users.each do |user| %>
        <li class="list-group-item">
          <a href="/profiles/<%= user.id %>">
            <%= user.username %>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row4"><center>
  <div class="col-md-3">
    <h4>Gwella</h4>
    <ul>Mobile apps</ul>
    <ul>Community</ul>
    <ul>Security</ul>
  </div>
  <div class="col-md-3">

    <h4>Company</h4>
    <ul><a href="/about_us">About us</a></ul>
    <ul>Careers</ul>
    <ul>Press</ul>

  </div>
  <div class="col-md-3">
    <h4>Support</h4>
    <ul>Help Center</ul>
    <ul>Contact</ul>
    <ul>Privacy & terms</ul>
  </div>

  <div class="col-md-3">
    <h4>Connect</h4>
    <ul><a href="https://www.facebook.com/Gwella-1504815782924804/" target="blank">Facebook</a></ul>
    <ul>Instragram</ul>
    <ul>Twitter</ul>
  </div>
</center>
</div>
