<div class="page-header">

  <center><h2>Welcome to Gwella!  |  Where people help people find inspiration.  |  No one is alone.</h2></center></div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/videos/new" class="btn btn-default btn-block">
        Add A Video <i class="fa fa-fw fa-plus"></i> Share Your Story
      </a>

      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <%= search_form_for @q do |f| %>
    <p class="lead">Narrow video results:</p>

    <div class="form-group">
      <%= f.label :title_cont, "Title containing" %>
      <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
    </div>
    <%= f.submit :class => "btn btn-primary btn-block" %>

    <a href="/videos" class="btn btn-default btn-block">Clear filters</a>
  <% end %>
<hr>
</div>
</div>

  <% @videos.each do |video| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= video.title %>
            <small>
            Added  <%= time_ago_in_words(video.created_at) %> ago
            </small>
          </h3>
        </div>

        <div class="panel-body">
          <a href="/videos/<%= video.id %>">
            <iframe width="720" height="515" src="<%= video.url.html_safe %>" frameborder="0" allowfullscreen></iframe>
          </a>

          <p>
            <% favorite = Favorite.find_by(:video_id => video.id, :user_id => current_user.id) %>
            <% if favorite.present? %>
            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            <% if video.fans.any? %>
            <%= video.fans.pluck(:username).to_sentence %>
            added to
            <%= video.fans.many? ? "favorites" : "favorites" %>
            <% end %>
            <% else %>
            <form action="/create_favorite" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="video_id" value="<%= video.id %>">

              <input type="hidden" name="user_id" value="<%= current_user.id %>">

              <button class="btn btn-link">
                Add to favorites <i class="fa fa-heart-o"></i>
              </button>

              <% if video.fans.any? %>
              <%= video.fans.pluck(:username).to_sentence %>
              added to
              <%= video.fans.many? ? "favorites" : "favorites" %>
              <% else %>
              <small class="text-muted">be the first to add to favorites</small>
              <% end %>
            </form>
            <% end %>
          </p>

          <ul class="media-list">

            <% if video.description.present? %>
            <li class="media">
              <div class="media-body">

                <%= video.description %>
              </div>
            </li>
            <% end %>

            <% video.comments.each do |comment| %>
            <li class="media">
              <div class="media-body">
                <h6 class="media-heading">
                  <%= link_to comment.user.username, "/users/#{comment.user.id}" %>
                  <small>
                    <%= time_ago_in_words(comment.created_at) %> ago
                    <% if comment.user == current_user %>
                    <a href="/delete_comment/<%= comment.id %>">
                      <i class="fa fa-trash"></i>
                    </a>
                    <% end %>
                </small>
              </h6>
              <%= comment.comment %>
            </div>
          </li>
          <% end %>

            <li class="media">
              <div class="media-body">
                <form action="/create_comment" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                  <input type="hidden" name="video_id" value="<%= video.id %>">

                  <input type="hidden" name="user_id" value="<%= current_user.id %>">

                  <div class="form-group">
                    <label for="comment" class="sr-only">
                      Comment
                    </label>

                    <div class="input-group">
                      <input type="text" id="comment" name="comment" class="form-control" placeholder="Add a comment..." required>

                      <span class="input-group-btn">
                        <button class="btn btn-link">
                          <i class="fa fa-commenting-o"></i>
                        </button>
                      </span>
                    </div><!-- /input-group -->
                  </div>
                </form>
              </div>
            </li>
          </ul>
          <div class="btn-group btn-group-justified">
            <% if video.user_id == current_user.id %>
            <a href="/videos" class="btn btn-primary">
              <i class="fa fa-chevron-left"></i>
            </a>
            <a href="/videos/<%= video.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_video/<%= video.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
            <% else %>
            <a href="/videos" class="btn btn-primary">
              <i class="fa fa-chevron-left"></i>
            </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
