<div class="page-header">
  <h3>Thank you from the Gwella community!</h3>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= @video.title %>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/videos/<%= @video.id %>">
          <iframe width="720" height="515" src="<%= @video.url.html_safe %>" frameborder="0" allowfullscreen></iframe>
        </a>
        <li class="media">
          <div class="media-body">
            <%= @video.description %>
          </div>
        </li>
<hr>
    <div class="btn-group btn-group-justified">
      <a href="/videos" class="btn btn-primary">
        Back
      </a>
      <a href="/videos/<%= @video.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_video/<%= @video.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
